body, html {
    font-family: 'Montserrat', sans-serif;
}
p {
    font-family: 'Montserrat', sans-serif;
    font-size:   1em;
    padding-top: 10px;
    padding: 20px;
}
/* styling for calculator */

.calculator {
background-color: tan;
margin: auto;
height: 420px;
width: 330px;
}

.calculator .row {
display: block;
}
.calculator .row button {
    height: 60px;
    width: 70px;
    font-size: 1.5em;
    font-family: 'Montserrat';
    margin-top: 6px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 6px;
    border: 1.5px grey;
    border-top: 2px;
    border-radius: 10%;
}
.calculator .AC{

}